body {
    font-family: $parrafos-font-family;
    background-color: #eee;
}

trix-editor {
    min-height: 400px;
    height: auto !important;
}
.bg-primary .navbar-brand {
    color: white;
    font-family: $font-family-sans-serif;
    font-size: 2rem;
    // font-family: 'Fredoka One', cursive;
    color: #fff !important;
    font-size: 2.4rem;
    text-decoration: none;
    &:hover {
        color: white;
    }
}
.icono {
    width: 16px;
}
.barra {
    background-color: #fbc02d !important;
}
.fecha {
    color: #fbc02d !important;
}
.receta-meta p {
    font-size: 12px;
    font-weight: bold;
}
.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #fff;
            font-size: 1.4rem;
            &:focus,
            &:hover {
                color: #fff;
            }
        }
    }
}

@media (min-width: 600px) {
    .titulo-categoria {
        font-family: "Montserrat", sans-serif;
        color: #333;
        font-size: 1.8rem;
        border-bottom: 3px solid #fbc02d !important;
        display: inline-block;
        padding-bottom: 0.5rem;
        padding-right: 2rem;
    }
}

@media (max-width: 600px) {
    .titulo-categoria {
        font-family: "Montserrat", sans-serif;
        color: #333;
        font-size: 1.8rem;
        border-bottom: 3px solid #fbc02d !important;
        display: inline-block;
        padding-bottom: 0.5rem;
        text-align: center !important;
    }
}

.btn-receta,
.btn-receta:hover {
    background-color: #fbc02d !important;
    border: none;
}

.owl-carousel .owl-stage {
    display: flex;
}
.card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.card-body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.categorias-bg {
    background-color: #fff;
    .nav-link {
        color: #222 !important;
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        font-size: 1.2rem !important;
        text-transform: uppercase;
        font-weight: bold;
        &:before,
        &:after {
            content: "";
            position: absolute;
            transition: transform 0.5s ease;
        }
        &:before {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background: #fbc02d;
            transform: translateX(-100%);
        }
        &:hover:before {
            transform: translateX(0);
        }
    }
}

.hero-categorias {
    background-image: linear-gradient(
            to bottom,
            rgba(70, 70, 70, 0.4),
            rgba(53, 53, 53, 0.571)
        ),
        url("../images/bgsearch.jpg");
    height: 25rem;
    background-size: cover;
    background-position: top center;
    .texto-buscar {
        p {
            font-size: 1.4rem;
            color: #fff;
        }
    }
}

.biografia {
    background: rgba(214, 214, 214, 0.4);
    padding: 3;
    min-height: 16rem;
}

// .contenido-receta {
//     // border-radius: 1rem;
// }
.img-receta {
    display: flex;
    margin: auto;
    max-width: 73%;
    max-height: 73%;

    // max-width: 50rem;
    // max-height: 27.5rem;
}
@media (max-width: 600px) {
    .img-receta {
        display: flex;
        margin: auto;
        max-width: 100%;
        max-height: 100%;

        // max-width: 50rem;
        // max-height: 27.5rem;
    }
}
.receta-meta p {
    font-size: 12px;
    font-weight: bold;
}
.info-receta {
    padding-left: 15%;
    padding-right: 15%;
}
@media (max-width: 600px) {
    .info-receta {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.redondeado {
    border-radius: 0.75rem;
}
@media (max-width: 600px) {
    .subtitulo-receta {
        text-align: center !important ;
    }
}

.avatar-pic {
    width: 150px;
}
.icono {
    display: block;
    margin: auto;
    width: 50px;
}

.btn-seleccionar {
    background-color: $blue;
}

.logo {
    width: 11.813em;
    height: 4.5rem;

    // width: 189px;

    // height: 72px;
    // object-fit: cover;
    // object-position: 75% 25%;
}

// @media (max-width: 600px) {
//     .logo {
//         width: 80px;
//         height: 120px;
//     }
// }

// body {
//     font-family: $parrafos-font-family;
//     background-color: #eee;
// }

// trix-editor {
//     min-height: 400px;
//     height: auto !important;
// }

// .bg-primary .navbar-brand {
//     color: white;
//     font-family: $font-family-sans-serif;
//     font-size: 2rem;
//     font-weight: 800;
//     color: #fff !important;
//     font-size: 2.4rem;
//     &:hover {
//         color: white;
//     }
// }

// .icono {
//     display: block;
//     margin: auto;
//     width: 60px;
// }

// .barra {
//     background-color: #fbc02d !important;
// }

// .fecha {
//     color: #fbc02d !important;
// }

// .receta-meta p {
//     font-size: 12px;
//     font-weight: bold;
// }

// .navbar-light {
//     .navbar-nav {
//         .nav-link {
//             color: #000;
//             font-size: 1.3rem;
//             &:focus,
//             &:hover {
//                 border-bottom: 3px solid #fbc02d !important;
//                 // color: #fff;
//             }
//         }
//     }
// }

// .titulo-categoria {
//     font-family: "Montserrat", sans-serif;
//     color: #333;
//     font-size: 1.8rem;
//     border-bottom: 3px solid #fbc02d !important;
//     display: inline-block;
//     padding-bottom: 0.5rem;
// }

// @media (max-width: 600px) {
//     .titulo-container {
//         text-align: center;
//     }
// }
// .btn-receta,
// .btn-receta:hover {
//     background-color: #fbc02d !important;
//     border: none;
// }

// .owl-carousel .owl-stage {
//     display: flex;
// }

// .card {
//     display: flex;
//     flex: 1 0 auto;
//     height: 100%;
// }

// .card-body {
//     position: relative;
//     overflow: hidden;
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
// }
// .categorias-bg {
//     background-color: #fff;
// }
// // .fa-heart {
// //     background-color: red;
// // }
//
